services:
  stats-db:
    image: postgres:13
    container_name: stats-postgres
    environment:
      POSTGRES_DB: stats
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"

  stats-server:
    build: ./stat-service/stat-server
    container_name: stats-server
    ports:
      - "9090:9090"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://stats-db:5432/stats
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
    depends_on:
      - stats-db

  ewm-service:
    image: busybox:latest
    command: [ "sleep", "infinity" ]
    container_name: ewm-service-placeholder