services:
  stats-db:
    image: postgres:13
    container_name: stats-postgres
    environment:
      POSTGRES_DB: stats
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"

  stats-server:
    build: ./stat-service/stat-server
    container_name: stats-server
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://stats-db:5432/stats
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
    depends_on:
      - stats-db

#services:
#  main-db:
#    image: postgres:13
#    environment:
#      POSTGRES_DB: main
#      POSTGRES_USER: user
#      POSTGRES_PASSWORD: password
#    ports:
#      - "5433:5432"    # ← main-db на порту 5433 (ВНУТРИ контейнера всё равно 5432)
#
#  main-service:
#    build: ./main-service
#    ports:
#      - "9090:9090"
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:postgresql://main-db:5432/ewm
#      CLIENT_URL: http://stats-service:8080
#    depends_on:
#      - main-db
#      - stats-service
